@media screen and (max-width: 1440px) {
  .gifts-for-men__block-product__maket {
    padding: 16px;
    max-width: 329px;
    width: 100%;
    height: 100%;
  }

  .gifts-for-men__block-product__gift {
    max-width: 659px;
  }

  .gifts-for-men__block-product__granata {
    max-width: 298px;
  }

  .gifts-februry__box {
    justify-content: stretch;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .article__box {
    max-width: 100%;
    width: 100%;
  }

  .favorites__container {
    display: flex;
    justify-content: stretch;
    gap: 48px;
  }

  .favorites__container-without__elements {
    justify-content: center;
  }
}

@media screen and (min-width: 1360px) and (max-width: 1440px) {
  .gifts-februry__box {
    grid-template-columns: repeat(auto-fit, minmax(313px, 1fr));
    justify-content: space-between;
  }

  .article__box {
    max-width: 100%;
    width: 100%;
  }

  .personal__area-block__box-delivery-point__text {
    flex-direction: column;
  }

  .personal__area-history__paragraph-state {
    max-width: fit-content;
  }
}

@media screen and (max-width: 1360px) {
  .header__container {
    padding: 19px 100px;
    margin: 0 auto;
  }

  .header__box-search {
    margin-right: 20px;
  }

  .form__search-input {
    max-width: 130px;
  }

  .main__banner-logo {
    max-width: 400px;
    height: 93px;
    margin: 48px 0 48px 100px;
  }

  .main__banner-catalog {
    padding: 16px 100px;
  }

  /* burger */

  /* hits */
  .hits {
    overflow: hidden;
  }

  .hits__container-lists {
    padding: 64px 100px;
  }

  .hits__block-slider {
    padding: 0 100px;
  }

  .hits__image {
    max-width: 142px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 85px;
    right: 20px;
  }

  .hits__name {
    margin-right: 35px;
  }

  /* population */

  .population {
    padding: 80px 100px 102px;
  }

  .population__block-image__ak-47 {
    max-width: 245px;
  }

  /* info */

  .info__container {
    padding: 48px 100px 72px;
  }

  /* gallery */

  .link__main {
    display: inline-block;
    padding: 10px 24px;
    text-transform: uppercase;
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
    transition: background-color 0.3s linear;
  }

  .link__main:hover {
    background-color: var(--color-grey);
  }

  /* reviews */

  .reviews__container {
    padding: 64px 100px;
  }

  /* reviews__slider */

  .reviews__slider-container__line {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    transition: all 1s linear;
  }

  /* recently */

  .recently-purchased {
    padding: 84px 100px 120px;
  }

  .recently-purchased__block-slider {
    padding: 0;
  }

  .gallery__container {
    padding: 70px 100px 110px;
  }

  /* clients */

  .clients {
    padding: 64px 100px;
  }

  .clients__block-forms {
    margin: 64px 0 0 45px;
  }

  /* footer */
  .footer {
    padding: 48px 100px;
  }

  .footer__block {
    gap: 125px;
  }

  .footer__block-box {
    gap: 125px;
  }

  .gifts-for-men {
    padding: 48px 100px 127px;
  }

  .gifts-februry__box {
    grid-template-columns: repeat(auto-fit, minmax(308px, 0fr));
    justify-content: space-between;
  }

  .article__box {
    max-width: 100%;
    width: 100%;
  }

  .personal__area-block__box-delivery-point__text {
    flex-direction: column;
  }

  .personal__area-history__paragraph-state {
    max-width: fit-content;
  }
}

@media screen and (max-width: 1230px) {
  .basket__article-container {
    gap: 24px;
  }
}

@media screen and (max-width: 1220px) {
  .header__container {
    padding: 19px 65px;
  }
  .form__search-input {
    max-width: 50px;
  }

  .main__banner-logo {
    max-width: 400px;
    margin: 48px 0 48px 65px;
  }

  .main__banner-catalog {
    padding: 16px 65px;
  }

  .main__banner-telephon__btn {
    margin-right: 140px;
  }

  .hits {
    padding-bottom: 80px;
    overflow: hidden;
  }

  .hits__container-lists {
    padding: 64px 65px;
  }

  .hits__image {
    top: 85px;
    right: 10px;
  }

  .info__container {
    gap: 80px;
    padding: 48px 65px 72px;
  }

  .hits__container-slid {
    max-width: 386px;
    background-size: 100% auto;
  }

  /* population */

  .population {
    padding: 80px 65px 102px;
  }

  .population__block-paragraph__name_ak {
    max-width: 100%;
  }

  .population__block-image__knife {
    top: 74px;
  }

  .population__block-image__pencile {
    max-width: 200px;
    top: 40px;
  }

  /* gallery */

  .gallery__container {
    padding: 70px 65px 100px;
  }

  .reviews__container {
    padding: 64px 65px;
  }

  .recently-purchased {
    padding: 50px 65px 60px;
  }

  .clients {
    padding: 64px 65px;
  }

  .clients__services-block {
    gap: 34px;
    align-items: center;
  }

  .footer__block {
    gap: 65px;
  }

  .footer__block-box {
    gap: 65px;
  }

  .gifts-for-men {
    padding: 48px 65px 127px;
  }

  .gifts-for-men__block-product__gift {
    max-width: 400px;
  }

  .gifts-februry__box {
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    justify-content: space-between;
  }

  .article__box {
    max-width: 100%;
    width: 100%;
  }

  .gift-element__slider-btn__next {
    left: 25px;
  }

  .gift-element__slider-btn__prev {
    right: 25px;
  }

  .basket__article {
    padding: 19px;
  }
}

@media screen and (max-width: 1140px) {
  .header__container {
    padding: 19px 50px;
  }

  .header__lists {
    gap: 25px;
  }

  .header__box-search {
    margin-right: 50px;
  }

  /* main__banner */

  .main__banner-logo {
    margin: 48px 0 48px 50px;
  }

  .main__banner-box__image {
    align-items: center;
  }

  .main__banner-image {
    max-width: 450px;
  }

  .main__banner-box__image-name {
    margin-bottom: 10px;
    max-width: 50%;
  }

  .main__banner-catalog {
    padding: 16px 50px;
  }

  /* menu */

  .menu__container {
    width: 490px;
  }

  .menu-items__two-container {
    left: 490px;
    width: 450px;
  }

  /* hits */
  .hits {
    overflow: hidden;
  }

  .hits__container-lists {
    padding: 64px 50px;
  }

  .hits__slider-btn__box {
    display: flex;
  }

  .info__container {
    gap: 50px;
    padding: 48px 50px 60px;
  }

  /* population */

  .population {
    padding: 80px 50px 102px;
  }

  .population__block-image__knife {
    max-width: 107px;
    top: 70px;
  }

  .population__block-image__pencile {
    max-width: 158px;
    top: 60px;
  }

  /* gallery */

  .gallery__container {
    padding: 70px 50px 110px;
  }

  /* reviews */

  .reviews__container {
    padding: 64px 50px;
  }

  .reviews__slider-container__line {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    transition: all 1s linear;
  }

  /* recently */

  .recently-purchased {
    display: block;
    padding: 84px 50px 120px;
  }

  .recently-purchased__slider-container__line {
    overflow: hidden;
  }

  .recently-purchased__slider-container__line-category {
    overflow: visible;
  }

  .recently-purchased__slider-articale {
    width: 280px;
  }

  .recently-purchased__slider-image__card {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  /* clients */

  .clients {
    padding: 64px 50px;
  }

  .clients__services-block {
    gap: 60px;
    justify-content: center;
  }

  .clients__block-forms {
    margin-left: 80px;
  }

  /* footer */
  .footer {
    padding: 48px 50px;
  }

  .footer__block {
    gap: 60px;
  }

  .footer__block-box {
    gap: 60px;
  }

  .gifts-for-men {
    padding: 48px 50px 127px;
  }

  .gifts-for-men__block_granata-makets {
    flex-direction: column;
  }

  .gifts-for-men__block_granata {
    flex-direction: row;
  }

  .gifts-for-men__block {
    padding: 36px;
  }

  .gifts-for-men__subtitle {
    margin: 0;
  }

  .gifts-for-men__block-box {
    align-self: center;
  }

  .gifts-for-men__subtitle {
    margin-bottom: 12px;
  }

  .gifts-for-men__block-product__granata {
    max-width: 293px;
  }

  .gifts-februry__box {
    grid-template-columns: repeat(auto-fit, minmax(184px, 0fr));
    justify-content: space-between;
  }

  .article__box {
    max-width: 100%;
    width: 100%;
  }

  .element__title {
    max-width: 75%;
  }

  .basket__block-elements {
    flex-direction: column;
  }

  .basket__article-container {
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }
}

@media screen and (max-width: 980px) {
  .header__container {
    padding: 10px 30px;
  }

  .header__lists {
    gap: 19px;
    margin-right: 10px;
  }

  .form__search-input {
    max-width: 50px;
  }

  .header__box-search {
    margin-right: 20px;
  }

  .main__banner-logo {
    max-width: 360px;
    margin: 44px 0 44px 30px;
  }

  .main__banner-image {
    max-width: 390px;
  }

  .main__banner-catalog {
    padding: 12px 30px;
  }

  .menu__container {
    width: 490px;
    min-height: 192vh;
  }

  .menu-items__two-container {
    flex-direction: column;
    max-width: 100%;
    width: calc(40vw + 14px);
    height: 100%;
    gap: 24px;
    padding: 40px 24px 0;
    z-index: 2;
  }

  .hits {
    padding-bottom: 90px;
    overflow: hidden;
  }

  .hits__container-lists {
    padding: 64px 30px;
  }

  .hits__name {
    margin-left: 30px;
    margin-right: 30px;
  }

  .hits__container-price {
    margin: 23px 0 0 30px;
  }

  .hits__image {
    top: 55px;
  }

  /* population */

  .population {
    padding: 80px 30px 102px;
  }

  .population__block-product {
    flex-direction: column;
  }

  .population__block-product__one {
    max-width: 100%;
  }

  .population__block-image__podarok {
    display: block;
    margin: 30px auto;
  }

  .population__block-box__squares {
    min-height: 255px;
  }

  .population__block-product__squares {
    max-width: 100%;
  }

  .population__block-image__knife {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 40px;
    right: 30px;
  }

  .population__block-paragraph__name_squares {
    font-size: 16px;
    line-height: 24px;
    max-width: 150px;
    margin: 0;
  }

  .population__block-image__pencile {
    max-width: 172px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 30px;
    right: 0;
  }

  .population__block-paragraph__name_pencile {
    max-width: 225px;
  }

  /* gallery */
  .gallery__container {
    padding: 70px 30px 90px;
  }

  .gallery__block {
    padding: 49px;
  }

  .gallery__images {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .gallery__image-one {
    max-width: 605px;
    width: 100%;
    height: auto;
  }

  .gallery__image-two {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .gallery__image-three {
    grid-column: 1;
  }

  .gallery__image-four {
    grid-column: 2;
  }

  .gallery__image-block__two.gallery__image-block__two_dispaly {
    display: block;
  }

  .gallery__image-block__two {
    display: none;
  }
  /* clients */

  .clients {
    padding: 64px 30px;
  }

  .clients__services-block {
    gap: 40px;
    justify-content: center;
  }

  .footer {
    padding: 48px 30px;
  }

  .footer__block {
    align-items: center;
    flex-direction: column;
    gap: 90px;
  }

  .footer__block-logo {
    max-width: 440px;
  }

  .footer__image-logo__text {
    text-align: center;
  }

  .footer__image-logo {
    max-width: 440px;
    height: 100px;
  }

  .footer__block-box {
    gap: 90px;
  }

  .gifts-for-men {
    padding: 48px 30px 127px;
  }

  .gifts-for-men__subtitle-maket {
    margin-bottom: 12px;
  }

  .gifts-for-men__block {
    padding: 36px;
  }

  .gifts-for-men__block-product__granata {
    max-width: 53%;
  }

  .gifts-for-men__block-product {
    flex-direction: column-reverse;
    max-height: max-content;
  }

  .gifts-for-men__block-product__makets {
    flex-direction: row;
  }

  .gifts-for-men__block_granata {
    flex-direction: row;
  }

  .gifts-for-men__block_granata-makets {
    flex-direction: column;
  }

  .gifts-for-men__block-product__makets_display {
    display: none;
  }

  .gifts-for-men__block-product__gift,
  .gifts-for-men__block-product__maket {
    max-width: 100%;
  }

  .gifts-for-men__image-granata {
    align-self: center;
  }

  .gifts-februry__box {
    grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
    justify-content: space-between;
  }

  .article__box {
    max-width: 100%;
    width: 100%;
  }

  .gifts-februry_title {
    margin-right: 20px;
  }

  .gifts-februry__paragraph {
    width: 124px;
  }

  .gift-element__slider-btn__next,
  .gift-element__slider-btn__prev {
    display: none;
  }

  .favorites__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .favorites__articale {
    width: 46%;
  }

  .favorites__container-without__elements {
    justify-content: center;
  }

  .reviews-clients__box {
    justify-content: stretch;
    gap: 16px;
    align-items: stretch;
    margin-bottom: 32px;
  }

  .reviews-clients__title {
    text-align: start;
  }

  .reviews-clients__btn {
    margin-top: 8px;
  }

  .reviews-clients__article {
    padding: 20px 24px;
  }

  .reviews-clients__paragraph {
    max-width: 100%;
  }

  .auth__btn {
    margin: 0;
  }

  .personal__area-history__container {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 840px) {
  .form__search-input {
    display: none;
  }

  .main__banner-logo {
    margin: 44px 0 44px 30px;
  }

  .header__box-user {
    gap: 20px;
  }

  .main__banner-logo {
    max-width: 320px;
    margin: 36px 0 36px 30px;
  }

  .main__banner-image {
    max-width: 300px;
  }

  .main__banner-box__image-name {
    max-width: 55%;
  }

  .main__banner-catalog {
    padding: 12px 30px;
  }

  .main__banner-catalog__burger {
    gap: 10px;
  }

  .main__banner-telephon__btn {
    margin-right: 90px;
  }

  .menu-items__two-container {
    width: calc(34vw + 18px);
  }

  .hits__name {
    margin-right: 14px;
    margin-left: 21px;
  }

  .hits__container-price {
    margin-left: 21px;
    margin-top: 27px;
  }

  .hits__image {
    top: 54px;
  }

  .reviews__slider-article {
    padding: 0 114px;
  }

  .reviews-clients__article {
    padding: 20px 24px;
  }

  .reviews-clients__paragraph {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header__container {
    max-width: 768px;
    padding: 10px 24px;
  }

  .header__lists {
    gap: 20px;
  }

  .header__box {
    gap: 24px;
    margin-right: 0;
  }

  .header__list-link {
    font-size: 14px;
    line-height: 24px;
  }

  .form__search-input {
    display: none;
  }

  .header__box-search {
    margin-right: 0;
  }

  .header__box-user {
    gap: 24px;
  }

  .main__banner-logo {
    max-width: 250px;
    height: 58px;
    margin: 32px 24px;
  }

  .main__banner-box__image {
    right: 33px;
    align-items: end;
  }

  .main__banner-image {
    display: block;
    max-width: 263px;
    height: auto;
  }

  .main__banner-box__image-name {
    max-width: 160px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    text-align: end;
  }

  .main__banner-catalog {
    padding: 6px 24px;
  }

  .main__banner-catalog__paragraph {
    font-size: 13px;
    line-height: 16px;
  }

  /* burger */

  .main__banner-catalog__burger {
    gap: 4px;
  }

  .menu__container {
    width: 410px;
  }

  .menu-items__two-container {
    left: 410px;
    width: calc(41vw + 20px);
  }

  /* /burger */

  .main__banner-catalog__paragraph {
    line-height: 20px;
  }

  .main__banner-telephons {
    gap: 24px;
    flex-direction: row-reverse;
    align-items: center;
  }

  .main__banner-telephons__block {
    display: flex;
    gap: 18px;
  }

  .main__banner-telephon {
    font-size: 12px;
    line-height: 16px;
  }

  .main__banner-telephon__btn {
    margin-right: 0;
    padding: 4px 25px;
  }

  /* hits */
  .hits {
    overflow: hidden;
  }
  .hits__container-lists {
    padding: 64px 24px;
    justify-content: space-between;
  }

  .hits__container-list {
    flex-direction: column;
  }

  .hits__container-list__image {
    width: 56px;
    height: 56px;
  }

  .hits__slider-btn__box {
    display: none;
  }

  .hits__name {
    margin: 0 0 44px 47px;
  }

  .hits__container-price {
    margin-left: 47px;
    margin-top: 32px;
  }

  .hits__image {
    max-width: 186px;
    width: 100%;
    height: auto;
    right: 35px;
    top: 84px;
  }

  /* population */
  .population {
    padding: 64px 24px 80px;
  }

  .population__block {
    padding: 57px 49px;
    border-image-repeat: repeat;
  }

  /* info */

  .info__container {
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 24px 64px;
  }

  .info__block {
    text-align: center;
    max-width: 290px;
  }

  .gallery__container {
    padding: 70px 24px 80px;
  }

  .link__main {
    display: inline-block;
    padding: 10px 24px;
    text-transform: uppercase;
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
    transition: background-color 0.3s linear;
  }

  .link__main:hover {
    background-color: var(--color-grey);
  }

  /* reviews */

  .reviews__container {
    padding: 20px 24px 64px;
  }

  /* reviews__slider */

  .reviews__slider-paragraph {
    width: 574px;
  }

  .reviews__slider-stars {
    display: flex;
    gap: 8px;
  }

  .reviews__slider-btn__prev,
  .reviews__slider-btn__next {
    display: none;
  }

  .reviews__slider-article {
    padding: 0;
  }

  .reviews__slider-paragraph {
    max-width: 389px;
  }

  /* recently */

  .recently-purchased {
    overflow: hidden;
    padding: 64px 24px 80px;
  }

  .recently-purchased__block-slider {
    padding: 0;
  }

  .recently-purchased__block-btn__box {
    display: flex;
    gap: 48px;
    justify-content: stretch;
  }

  .recently-purchased__slider-articale {
    width: 324px;
    height: auto;
  }

  .recently-purchased__slider-image__card {
    width: 324px;
  }

  .recently-purchased__slider-paragraph {
    max-width: 242px;
  }
  /* clients */
  .clients {
    padding: 64px 24px;
  }

  .clients__container {
    flex-direction: column;
    align-items: center;
  }

  .clients__services-block {
    align-items: center;
    justify-content: center;
  }

  .clients__block-forms {
    margin-top: 40px;
    margin-left: 0;
  }

  .clients__block-title {
    text-align: center;
  }

  .clients__input {
    padding: 13px 8px;
  }

  .clients__textarea {
    height: 86px;
  }

  /* footer */
  .footer {
    padding: 48px 24px;
  }

  .footer__block {
    gap: 56px;
    flex-direction: column;
    align-items: start;
  }

  .footer__image-logo__text {
    text-align: start;
  }

  .footer__block-logo {
    max-width: 100%;
  }

  .footer__block-box {
    max-width: 100%;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer__block-buyer {
    max-width: 249px;
    width: 100%;
    align-items: start;
    gap: 4px;
  }

  .footer__lists {
    align-items: start;
  }

  .footer__copiryting {
    flex-direction: column;
    justify-content: space-between;
  }

  .popup {
    width: 410px;
  }

  .gifts-for-men {
    padding: 40px 16px 68px;
  }

  .gifts-for-men__block {
    padding: 44px;
  }

  .gifts-for-men__blocks {
    gap: 32px;
  }

  .gifts-for-men__block-product,
  .gifts-for-men__block-product__makets {
    gap: 16px;
  }

  .article__box,
  .image_card {
    max-width: 100%;
    width: 100%;
  }

  .gift-element__slider-block {
    padding: 37px 42px 51px 46px;
  }

  .gifts-element__blocks {
    gap: 24px;
  }

  .gifts-element__paragraph {
    margin: 0;
  }

  .gifts-element {
    padding-bottom: 64px;
  }

  .reviews-clients__article {
    padding: 20px 24px;
  }

  .reviews-clients__paragraph {
    max-width: 100%;
    width: 100%;
  }

  .auth__input {
    padding: 12px;
  }

  .gifts-for-men__title {
    font-size: 52px;
    line-height: 60px;
  }

  .personal__area-block__box {
    flex-direction: column;
  }

  .personal__area-block__box-delivery-point__text {
    flex-direction: row;
  }

  .personal__area-history-element__container {
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 750px) {
  .header__container {
    padding: 10px 15px;
  }

  .header__lists {
    gap: 20px;
  }

  .gallery__container {
    padding: 70px 15px 80px;
  }

  .menu-items__two-container {
    left: 409px;
  }

  .gifts-februry_title {
    margin-right: 0;
  }
}

@media screen and (max-width: 732px) {
  .header__lists {
    gap: 18px;
  }

  .menu__container {
    width: 374px;
  }

  .menu-items__two-container {
    left: 373px;
    width: calc(42vw + 26px);
  }

  .favorites__articale {
    width: 46%;
  }
  .basket__article-container {
    justify-content: stretch;
    gap: 20px;
  }
}

@media screen and (max-width: 724px) {
  .header__lists {
    gap: 18px;
  }

  .header__box_icons {
    gap: 10px;
  }

  .header__box-user {
    gap: 10px;
  }

  .population {
    padding: 80px 15px 102px;
  }
}

@media screen and (max-width: 689px) {
  .menu-items__two-container {
    left: 410px;
    width: calc(35vw + 26px);
  }

  .hits__name {
    margin: 0 0 44px 47px;
  }

  .hits__container-price {
    margin-left: 47px;
    margin-top: 32px;
  }

  .hits__image {
    right: 16px;
    top: 65px;
  }

  .menu-items__two-container {
    left: 373px;
    width: calc(40vw + 30px);
  }

  .footer__block-box {
    justify-content: start;
    gap: 0;
  }

  .gifts-for-men__block-product__granata {
    max-width: 45%;
  }

  .gifts-februry_title {
    max-width: 290px;
  }
}

@media screen and (max-width: 668px) {
  .header__box {
    position: relative;
  }

  .header__container {
    padding: 12px;
  }

  .header__lists {
    display: none;
  }

  .header__lists-menu__burger {
    position: absolute;
    max-width: 200px;
    visibility: hidden;
    opacity: 0;
    top: 32px;
    right: -12px;
    transition: opacity 0.3s linear, visibility 0.3s linear;
    color: var(--color-font-light);
    background: linear-gradient(
      to right,
      var(--color-primary) 46%,
      var(--color-pink)
    );
    padding: 12px;
    list-style-type: none;
    z-index: 1;
  }

  .header__lists-menu__burger.active {
    visibility: visible;
    display: block;
    opacity: 1;
  }

  .header__box_icons {
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
  }

  .header__box-user__link {
    width: 20px;
    height: 20px;
  }

  .header__box-user__image {
    width: 20px;
    height: 20px;
  }

  .form__search-label {
    gap: 8px;
  }

  .form__search-input {
    display: block;
  }

  .header__box-search {
    margin-right: 0;
  }

  .btn__search {
    width: 20px;
    height: 20px;
    background-size: cover;
  }

  .header__box-user {
    gap: 75px;
    align-items: center;
  }

  .header__box-user__link_heart {
    display: block;
  }

  .header__menu-burger {
    width: 16px;
    position: relative;
    cursor: pointer;
    height: 2px;
    background-color: var(--color-font-light);
    transition: transform 0.3s ease-in-out;
    border-radius: 3px;
    align-self: center;
  }

  .header__menu-burger::before,
  .header__menu-burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-font-light);
    transition: transform 0.3s ease-in-out;
    border-radius: 3px;
  }

  .header__menu-burger::before {
    top: 6px;
  }

  .header__menu-burger::after {
    bottom: 6px;
  }

  .main__banner-container {
    overflow: hidden;
  }

  .main__banner-logo {
    max-width: 150px;
    height: 35px;
    margin: 31px 0 39px 12px;
  }

  .main__banner-box__image {
    right: 0;
    bottom: 0;
    align-items: end;
  }

  .main__banner-image {
    display: block;
    max-width: 232px;
    height: auto;
  }

  .main__banner-box__image-name {
    max-width: 96px;
    text-align: start;
    font-size: 8px;
    line-height: 12px;
    margin: 0 0 0 38px;
    align-self: center;
  }

  .main__banner-catalog {
    padding: 10px 12px;
    gap: 16px;
  }

  /* burger */

  .main__banner-catalog__burger {
    gap: 6px;
    margin-bottom: 1px;
  }

  .main__banner-telephons {
    gap: 16px;
    flex-direction: row;
  }

  .main__banner-telephons__block {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .main__banner-telephon__btn {
    margin-right: 0;
    padding: 8px 12px;
  }

  .menu__container {
    width: 331px;
  }

  .menu-items__two-container {
    left: 331px;
    width: calc(40vw + 30px);
  }

  .hits__name {
    margin: 0 35px 44px 35px;
  }

  .hits__container-price {
    margin-left: 35px;
    margin-top: 22px;
  }

  .hits__image {
    right: 13px;
    top: 47px;
    max-width: 153px;
  }

  /* population */

  .population__block-image__knife {
    max-width: 100px;
    top: 56px;
  }

  .population__block-image__pencile {
    max-width: 148px;
    top: 50px;
  }

  .gallery__container {
    padding: 24px 12px 40px;
  }

  .gifts-for-men__block-product__gift,
  .gifts-for-men__block-product__granata {
    display: none;
    max-width: none;
  }

  .gifts-for-men__block-product__makets {
    flex-direction: column;
    width: 100%;
  }

  .gifts-for-men__box-maket {
    align-items: center;
  }

  .gifts-for-men__block-box,
  .gifts-for-men__paragraph-maket {
    align-self: start;
  }

  .page__path_element {
    display: none;
  }

  .element__title {
    max-width: 100%;
  }

  .favorites__articale {
    width: 45%;
  }

  .basket__article-block {
    gap: 15px;
  }

  .gift-element__counter-price__container {
    gap: 22px;
  }

  .reviews-clients__box {
    flex-direction: column;
    align-items: center;
  }

  .reviews-clients__btn {
    margin-top: 0;
  }

  .reviews-clients__title {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .reviews__slider-paragraph {
    max-width: 335px;
  }

  .menu__container {
    width: 258px;
  }

  .menu-items__list {
    padding: 0 14px;
  }

  .menu-items__two-container {
    left: 258px;
    width: calc(43vw + 25px);
  }

  .menu-items__two-lists {
    gap: 18px;
  }

  .hits {
    padding-bottom: 16px;
  }

  .hits__container-lists {
    gap: 18px;
  }

  .hits__name {
    margin: 0 35px 44px 35px;
  }

  .hits__container-price {
    margin-left: 35px;
    margin-top: 22px;
  }

  .hits__image {
    max-width: 116px;
  }

  .population__block-image__ak-47 {
    max-width: 170px;
  }

  .population__block-image__knife {
    max-width: 69px;
    top: 79px;
    right: 12px;
  }

  .population__block-image__pencile {
    max-width: 107px;
    top: 63px;
  }

  .footer__block-box {
    flex-direction: column-reverse;
    gap: 25px;
  }

  .footer__block-buyer {
    max-width: 220px;
  }

  .gifts-februry__block {
    flex-direction: column;
    gap: 32px;
  }

  .gifts-februry_title {
    margin: 0;
  }

  .gifts-februry__paragraph {
    width: 92px;
  }

  .gifts-februry__block {
    align-items: start;
  }

  .gifts-februry__filters {
    width: 100%;
    justify-content: space-between;
  }

  .favorites__articale {
    width: 100%;
  }

  .favorites__image {
    width: 100%;
  }

  .basket__article-container {
    flex-direction: column;
  }

  .basket__article_price-container {
    justify-content: space-between;
  }

  .basket__article_price-box {
    align-self: center;
  }

  .personal__area-history__block {
    gap: 40px;
  }

  .personal__area-element {
    justify-content: space-between;
    gap: 16px;
  }

  .personal__area-element__block {
    gap: 8px;
  }

  .personal__area-element__paragraph {
    max-width: 169px;
  }

  .personal__area-history__elements {
    padding: 12px 12px 16px;
  }

  .personal__area-element {
    padding: 12px;
  }
}

@media screen and (max-width: 530px) {
  .personal__area-history__pages {
    display: none;
  }

  .personal__area-history__container {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 500px) {
  .main__banner-image.main__banner-image__default {
    display: none;
  }

  .main__banner-image.main__banner-image__mobile {
    display: block;
  }

  .main__banner-catalog {
    gap: 4px;
  }

  .main__banner-telephons {
    gap: 8px;
  }

  .main__banner-telephon {
    width: max-content;
  }
  /* hits */

  .hits__title {
    font-size: 36px;
    line-height: 40px;
  }

  .hits__container-lists {
    padding: 40px 12px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  .hits__container-list {
    flex-direction: row;
    margin: 0 38px;
    max-width: 275px;
  }

  .hits__container-list__image {
    width: 56px;
    height: 56px;
  }

  .hits__block-slider {
    padding: 0 12px;
  }

  .hits__slider {
    overflow: hidden;
  }

  .hits__slider-btn__box {
    display: flex;
    gap: 18px;
  }

  .hits__container-list__block {
    gap: 6px;
    width: 275px;
  }

  .hits__lists {
    gap: 0;
  }

  .hits__slider-line {
    gap: 24px;
  }

  .hits__container-slid {
    max-width: 100%;
    height: auto;
    background-size: 100% auto;
  }

  .hits__slider-line {
    left: 527px;
  }

  .hits__container-price {
    margin: 32px 0 0 32px;
  }

  .hits__image {
    max-width: 177px;
    width: 100%;
    right: 38px;
    height: auto;
  }

  .hits__name {
    max-width: 248px;
    margin: 0 35px 32px 32px;
  }

  /* population */

  .population__block {
    padding: 24px;
  }

  .population__title {
    font-size: 36px;
    line-height: 40px;
  }

  .population__block-product__two,
  .population__block-product__four {
    display: none;
  }

  .population__block-product__squares {
    max-width: 100%;
    width: 100%;
  }

  .population__block-image__knife {
    max-width: 100%;
    top: 44px;
    right: 55px;
  }

  .population__block-product__squares {
    justify-content: flex-end;
  }

  /* info */

  .info__container {
    flex-wrap: wrap;
    gap: 40px;
    padding: 24px 12px 40px;
    justify-content: center;
  }

  /* gallery */

  .gallery__block {
    padding: 24px;
  }

  .gallery__images {
    gap: 12px;
  }

  .gallery__images-box {
    gap: 12px;
  }

  .gallery__images-box__squares {
    gap: 12px;
  }

  /* reviews */

  .recently-purchased {
    overflow: hidden;
  }

  .reviews__container {
    padding: 24px 12px 32px;
  }

  .recently-purchased__block-slider {
    padding: 0;
  }

  /* reviews__slider */

  .reviews__slider-paragraph {
    width: 574px;
  }

  .reviews__slider-stars {
    display: flex;
    gap: 8px;
  }

  .reviews__slider-btn__prev,
  .reviews__slider-btn__next {
    display: none;
  }

  .reviews__title {
    font-size: 36px;
    line-height: 40px;
  }
  /* recently */

  .recently-purchased {
    padding: 40px 12px 24px;
  }

  .recently-purchased__block-slider__title {
    max-width: 231px;
    font-size: 36px;
    line-height: 40px;
  }

  .recently-purchased__block-btn__box {
    display: flex;
    gap: 24px;
    justify-content: stretch;
  }

  .recently-purchased__slider-articale {
    width: 360px;
  }

  .recently-purchased__slider-image__card {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  /* clients */
  .clients {
    padding: 24px 12px 32px;
  }

  .clients__title {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 40px;
  }

  .clients__services-block {
    flex-direction: column;
    gap: 24px;
  }

  .clients__service {
    max-width: 245px;
  }

  .clients__block-title {
    max-width: 351px;
    text-align: start;
  }

  .clients__input {
    padding: 13px 8px;
  }

  .clients__textarea {
    height: 86px;
  }

  /* footer */
  .footer {
    padding: 24px 12px;
  }

  .footer__block {
    gap: 24px;
    flex-direction: column;
    align-items: start;
  }

  .footer__block-logo {
    max-width: 267px;
  }

  .footer__image-logo {
    max-width: 224px;
    height: 52px;
    margin-bottom: 12px;
  }

  .footer__image-logo__text {
    text-align: start;
  }

  .footer__block-box {
    flex-direction: column;
    gap: 24px;
    justify-content: start;
  }

  .footer__block-icons {
    display: none;
  }

  .footer__block-icons__min_width {
    display: flex;
    gap: 16px;
    margin: 12px 0;
  }

  .footer__link-icon {
    max-width: 24px;
    height: 24px;
  }

  .footer__image-icon {
    max-width: 24px;
  }

  .footer__copiryting-block {
    margin-bottom: 12px;
  }

  .footer__copiryting {
    margin-top: 32px;
  }

  .gifts-for-men {
    padding: 24px 12px;
  }

  .gifts-februry {
    padding-bottom: 40px;
  }

  .gifts-for-men__block {
    padding: 24px;
  }

  .gifts-for-men__block-product,
  .gifts-for-men__block-product__makets {
    gap: 12px;
  }

  .gifts-for-men__title {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 40px;
  }

  .article__box,
  .image_card {
    max-width: 100%;
    width: 100%;
  }

  .gifts-februry_title {
    max-width: 100%;
    margin: 0;
    font-size: 36px;
    line-height: 40px;
  }

  .gifts-februry__box {
    gap: 16px;
  }

  .gift-element__price_style {
    font-size: 36px;
    line-height: 40px;
  }

  .gift-element__slider-block {
    border: none;
  }

  .gift-element__slider-container__line {
    right: 35px;
  }

  .recently-purchased__block-btn__box {
    gap: 0;
    justify-content: end;
  }

  .gift-element-slider__title {
    max-width: 100%;
  }

  .gifts-element {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .element__title {
    margin: 0 auto 16px;
  }

  .gifts-element__blocks {
    gap: 0;
  }

  .logo__catalog {
    display: none;
  }

  .main__banner-telephons__block {
    flex-direction: row;
    gap: 18px;
  }

  .favorites__articale,
  .favorites__image {
    width: 100%;
  }

  .basket__article_price {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.2px;
  }

  .reviews-clients__btn {
    max-width: 100%;
  }

  .reviews-clients__title {
    text-align: start;
  }

  .reviews-clients__article {
    padding: 12px 12px;
    flex-direction: column-reverse;
    gap: 24px;
  }

  .reviews-clients__paragraph {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .reviews-clients__paragraph-name {
    text-align: center;
  }

  .popup__reviews-clients {
    display: none;
  }

  .modal-bg {
    display: none;
  }

  .popup__container_reviews-clients {
    display: none;
    padding: 0;
  }

  .popup__block_reviews-clients {
    margin-bottom: 28px;
  }

  .popup__form-fields {
    gap: 8px;
  }

  .popup__form-box {
    gap: 8px;
    margin-top: 8px;
  }

  .popup__stars {
    margin-bottom: 4px;
  }

  .clients__btn_reviews-clients {
    margin: 16px 0 122px;
  }

  .auth__form {
    margin-bottom: 365px;
  }

  .auth__input {
    padding: 12px;
  }

  .personal-area-date {
    overflow: scroll;
  }

  .personal__area-links {
    width: 410px;
  }

  .personal-area-current__container {
    margin-bottom: 248px;
  }

  .personal__area-element__paragraph {
    max-width: 189px;
    font-size: 14px;
    line-height: 22px;
  }

  .personal__area-element__paragraph-name {
    font-size: 12px;
    line-height: 16px;
  }

  .personal__area-element__paragraph-price {
    font-size: 16px;
    line-height: 24px;
  }

  .personal__area-history-element__container {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 400px) {
  .page__path-februry {
    display: none;
  }

  .personal__area-element__paragraph {
    max-width: 160px;
  }
}

@media screen and (max-width: 375px) {
  .header__box {
    position: relative;
  }

  .header__container {
    padding: 12px;
  }

  .header__lists {
    display: none;
  }

  .header__lists-menu__burger {
    position: absolute;
    max-width: 200px;
    visibility: hidden;
    opacity: 0;
    top: 32px;
    right: -12px;
    transition: opacity 0.3s linear, visibility 0.3s linear;
    color: var(--color-font-light);
    background: linear-gradient(
      to right,
      var(--color-primary) 46%,
      var(--color-pink)
    );
    padding: 12px;
    list-style-type: none;
    z-index: 1;
  }

  .header__lists-menu__burger.active {
    visibility: visible;
    display: block;
    opacity: 1;
  }

  .header__box_icons {
    max-width: 351px;
    width: 100%;
    justify-content: space-between;
  }

  .header__box-user__link {
    width: 20px;
    height: 20px;
  }

  .header__box-user__image {
    width: 20px;
    height: 20px;
  }

  .form__search-label {
    gap: 8px;
  }

  .form__search-input {
    display: block;
  }

  .header__box-search {
    margin-right: 0;
  }

  .btn__search {
    width: 20px;
    height: 20px;
    background-size: cover;
  }

  .header__box-user {
    gap: 32px;
    margin-left: 100px;
    align-items: center;
  }

  .header__box-user__link_heart {
    display: none;
  }

  .header__menu-burger {
    width: 16px;
    position: relative;
    cursor: pointer;
    height: 2px;
    background-color: var(--color-font-light);
    transition: transform 0.3s ease-in-out;
    border-radius: 3px;
    align-self: center;
  }

  .header__menu-burger::before,
  .header__menu-burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-font-light);
    transition: transform 0.3s ease-in-out;
    border-radius: 3px;
  }

  .header__menu-burger::before {
    top: 6px;
  }

  .header__menu-burger::after {
    bottom: 6px;
  }

  .main__banner-container {
    overflow: hidden;
  }

  .main__banner-logo {
    max-width: 150px;
    height: 35px;
    margin: 31px 0 39px 12px;
  }

  .main__banner-box__image {
    right: 0;
    bottom: 0;
    align-items: end;
  }

  .main__banner-image {
    display: block;
    max-width: 232px;
    height: auto;
  }

  .main__banner-box__image-name {
    max-width: 96px;
    text-align: start;
    font-size: 8px;
    line-height: 12px;
    margin: 0 0 0 38px;
    align-self: center;
  }

  .main__banner-catalog {
    padding: 10px 12px;
    gap: 16px;
  }

  /* burger */

  .main__banner-catalog__burger {
    gap: 6px;
    margin-bottom: 1px;
  }

  /* /burger */

  .main__banner-telephons {
    gap: 16px;
    flex-direction: row;
  }

  .main__banner-telephons__block {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .main__banner-telephon__btn {
    margin-right: 0;
    padding: 8px 12px;
  }

  /* hits */
  .hits__container-lists {
    padding: 40px 12px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
  }

  .hits__container-list {
    flex-direction: row;
    margin: 0 38px;
    max-width: 275px;
  }

  .hits__container-list__image {
    width: 56px;
    height: 56px;
  }

  .hits__block-slider {
    padding: 0 12px;
  }

  .hits__slider {
    overflow: hidden;
  }

  .hits__slider-btn__box {
    display: flex;
    gap: 24px;
  }

  .hits__container-list__block {
    gap: 6px;
    width: 275px;
  }

  .hits__lists {
    gap: 0;
  }

  .hits__slider-line {
    gap: 24px;
  }

  .hits__container-slid {
    max-width: 328px;
    width: 100%;
    height: auto;
    background-size: 328px auto;
  }

  .hits__slider-line {
    left: 527px;
  }

  .hits__container-price {
    margin: 32px 0 0 32px;
  }

  .hits__image {
    width: 152px;
    height: auto;
    right: 80px;
  }

  .hits__name {
    max-width: 248px;
    margin: 0 48px 32px 32px;
  }

  /* info */

  .info__container {
    flex-wrap: wrap;
    gap: 40px;
    padding: 24px 12px 40px;
    justify-content: center;
  }

  /* gallery */

  .link__main {
    display: inline-block;
    padding: 10px 24px;
    text-transform: uppercase;
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
    transition: background-color 0.3s linear;
  }

  .link__main:hover {
    background-color: var(--color-grey);
  }

  /* reviews */

  .recently-purchased {
    overflow: hidden;
  }

  .reviews__container {
    padding: 24px 12px 32px;
  }

  /* reviews__slider */

  .reviews__slider-paragraph {
    width: 574px;
  }

  .reviews__slider-stars {
    display: flex;
    gap: 8px;
  }

  .reviews__slider-btn__prev,
  .reviews__slider-btn__next {
    display: none;
  }

  /* recently */

  .recently-purchased {
    padding: 24px 12px 32px;
  }

  .recently-purchased__block-slider__title {
    max-width: 231px;
    font-size: 36px;
    line-height: 40px;
  }

  .recently-purchased__block-btn__box {
    display: flex;
    gap: 24px;
    justify-content: stretch;
  }

  .recently-purchased__slider-articale {
    width: 250px;
  }

  .recently-purchased__slider-image__card {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  /* clients */
  .clients {
    padding: 24px 12px 32px;
  }

  .clients__title {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 40px;
  }

  .clients__services-block {
    flex-direction: column;
    gap: 24px;
  }

  .clients__service {
    max-width: 245px;
  }

  .clients__block-title {
    max-width: 351px;
    text-align: start;
  }

  .clients__input {
    padding: 13px 8px;
  }

  .clients__textarea {
    height: 86px;
  }

  /* footer */
  .footer {
    padding: 24px 12px;
  }

  .footer__block {
    gap: 24px;
    flex-direction: column;
    align-items: start;
  }

  .footer__block-logo {
    max-width: 267px;
  }

  .footer__image-logo {
    max-width: 224px;
    height: 52px;
    margin-bottom: 12px;
  }

  .footer__image-logo__text {
    text-align: start;
  }

  .footer__block-box {
    flex-direction: column;
    gap: 24px;
    justify-content: start;
  }

  .footer__block-icons {
    display: none;
  }

  .footer__block-icons__min_width {
    display: flex;
    gap: 16px;
    margin: 12px 0;
  }

  .footer__link-icon {
    max-width: 24px;
    height: 24px;
  }

  .footer__image-icon {
    max-width: 24px;
  }

  .footer__copiryting-block {
    margin-bottom: 12px;
  }

  .footer__copiryting {
    margin-top: 32px;
  }

  .popup {
    width: 328px;
  }

  .article__box,
  .image_card {
    max-width: 100%;
    width: 100%;
  }

  .favorites__articale,
  .favorites__image {
    width: 100%;
  }

  .reviews-clients__paragraph {
    max-width: 100%;
    width: 100%;
  }
}
