@media screen and (max-width: 1400px) {
  .population__block-product {
    padding: 50px;
  }
}

@media screen and (max-width: 1380px) {
  .population__block-product {
    padding: 40px;
  }
}

@media screen and (max-width: 1330px) {
  .population__block-product {
    padding: 30px;
  }
}

/* 
@media screen and (max-width: 1400px) {
  .population__block-product {
    display: flex;
    gap: 16px;
    padding: calc(62px + 20px);
  }
} */

/* @media screen and (max-width: 1360px) {
  .population__container {
    padding: 80px 130px 90px;
  }

  .population__block {
    width: 1100px;
    background-size: 1100px auto;
  }
}

@media screen and (max-width: 1310px) {
  .population__container {
    padding: 75px 105px 80px;
  }

  .population__block-product {
    padding: 62px;
  }

  .population__block-paragraphs {
    max-width: 273px;
    padding: 32px 0 0 32px;
  }

  .population__block-paragraph__name {
    margin-bottom: 24px;
  }

  .population__block-image__podarok {
    max-width: 365px;
    padding: 0 30px 40px 30px;
  }

  .population__block-image__ak-47 {
    padding: 25px 2px 25px 0;
    max-width: 322px;
  }

  .population__block-paragraph__name_ak {
    margin: 22px 17px 0 0;
  }

  .population__block-product__squares {
    width: 283px;
    height: 255px;
  }

  .population__block-paragraph__name_squares {
    max-width: 150px;
    padding: 0 0 16px 24px;
  }

  .population__block-image__knife {
    top: 13px;
    right: 0;
    max-width: 185px;
  }

  .population__block-image__pencile {
    top: 30px;
    right: 0;
    max-width: 172px;
  }

  .population__block-paragraph__name_pencile {
    max-width: 225px;
  }
}

@media screen and (max-width: 1270px) {
  .header__container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .header__box-search {
    display: flex;
    align-items: center;
    margin-right: 75px;
  }
} */
